.sidebar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-list-item:not(:first-of-type) {
  margin-top: 10px;
}

.mat-card {
  border-radius: 0;
}

h4.mat-line {
  font-size: 14px !important;
}

p.mat-line {
  margin-top: 10px !important;

  .mat-icon {
    margin-top: 7px;
    font-size: 15px;
  }

  .mat-stroked-button {
    padding: 0 12px;
    margin-right: 5px;
    font-size: 12px;
  }
}
