<div class="sidebar-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <h1 class="app-name">Xiaomi Vendor Updater Project</h1>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button aria-label="Build queue" (click)="snav.toggle()">
      <mat-icon>query_builder</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" hasBackdrop="false">
    <mat-sidenav #snav [mode]="'over'" [opened]="!mobileQuery.matches" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" style="width: 300px" position="end">
      <mat-nav-list *ngIf="gitlabJobs" style="height: 100%; overflow-y: auto;">
        <h4 mat-subheader class="pl-3 mt-1" style="margin-bottom:8px;"><mat-icon class="mr-2">settings</mat-icon> Pipelines</h4>
        <mat-divider></mat-divider>
        <ng-template ngFor let-job [ngForOf]="gitlabJobs">
          <mat-list-item *ngIf="job.ref !== 'master'">
            <span *ngIf="job.pipeline.status === 'success'" style="color: #28a745;" class="pr-2 mt-2" matTooltip="Success">
              <mat-icon>check_circle</mat-icon>
            </span>
            <span *ngIf="job.pipeline.status === 'pending'" style="color: #ffc107" class="pr-2 mt-2" matTooltip="Pending">
              <mat-icon>pause_circle_outline</mat-icon>
            </span>
            <span *ngIf="job.pipeline.status === 'failed'" style="color: #ffc107" class="pr-2 mt-2" matTooltip="Failed">
              <mat-icon>error_outline</mat-icon>
            </span>
            <span *ngIf="job.pipeline.status === 'running'" style="width:32px;" class="pr-2 mt-1" matTooltip="Running">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </span>
            <span *ngIf="job.pipeline.status === 'canceled' || job.pipeline.status === 'skipped'" style="color: #efefef;" class="pr-2 mt-2" matTooltip="Cancelled">
              <mat-icon>block</mat-icon>
            </span>
            {{job.ref}}
          </mat-list-item>
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container h-100">
        <div class="justify-content-center align-items-center" style="margin-top: 150px;">
          <mat-card class="pb-0">
            <div class="row justify-content-center align-items-center">
              <mat-form-field appearance="fill" floatLabel="always" class="col-sm-12 col-md-5">
                <mat-label>Device</mat-label>
                <input matInput placeholder="Enter the device name">
                <mat-icon matSuffix>smartphone</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="fill" floatLabel="always" class="col-sm-12 col-md-5">
                <mat-label>Vendor type</mat-label>
                <mat-select multiple placeholder="Select a type">
                  <mat-option value="Stable">
                    Stable
                  </mat-option>
                  <mat-option value="Weekly">
                    Weekly
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="col-sm-12 col-md-2">
                <button mat-raised-button color="primary" class="w-100" style="height: 59.5px; margin-bottom: 21.5px;">Search</button>
              </div>
            </div>
          </mat-card>
          <br/>
          <mat-card matRipple style="cursor: pointer;">
            <div class="row">
              <div class="col align-self-center" style="text-align: center;">
                <mat-icon mat-list-icon>insert_drive_file</mat-icon>
              </div>
              <div class="col-md-12 col-lg-11">
                <span style="word-break: break-word;">fw-vendor_begonia_miui_BEGONIA_V10.4.8.0.PGGCNXM_1bf09f2237_9.0.zip</span>
                <div class="row mt-2">
                  <div class="col-md-12 col-lg-6 mt-3 mt-md-0">
                    <mat-chip-list>
                      <mat-chip>
                        <mat-icon class="mr-1">data_usage</mat-icon>
                        861MB
                      </mat-chip>
                      <mat-chip>
                        <mat-icon class="mr-1">android</mat-icon>
                        Android 9.0
                      </mat-chip>
                      <mat-chip>
                        Weekly
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                  <div class="col-md-12 col-lg-6 mt-3 mt-md-0">
                    <button mat-stroked-button color="primary" style="float:right;" class="ml-2">
                      <mat-icon>cloud_download</mat-icon>
                      Github
                    </button>
                    <button mat-stroked-button color="primary" style="float:right;">
                      <mat-icon>cloud_download</mat-icon>
                      Sourceforge
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>

        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
